.card img {
  padding: 30px;
}
.card a {
  color: white;
  background-color: #c49e63;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  margin: 0px;
}
.card a:hover {
  color: rgb(255, 255, 255);
  padding: 12px;
  font-size: 18px;
  transition: 0.5s;
}
